<!doctype html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no">
    <title>window</title>

    <script src="/javascripts/webix.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/webix.min.css">
    <link rel="stylesheet" href="/stylesheets/enjoyhint.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <header id="head">
        <div class="container">
            <a href='/' class="logo">
                <% if(!user.login) {%>

                    <%} else{ %>
                        <a href='/users/<%=user.login%>' class="logo">
                            <% } %>
                                <h1>window</h1>
                        </a>
        </div>
    </header>
    <div class="main">

    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/enjoyhint.js"></script>
    <% if(!user.login){%>
        <script src="/javascripts/bufer.js"></script>
        <% } %>
</body>

</html>