<!doctype html>
<html>

<head>

    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no"> -->
    <title>window</title>

    <script src="/javascripts/webix.min.js"></script>
    <script src="/javascripts/gantt.js"></script>
    <script src="/javascripts/filemanager.js"></script>
    <script src="/javascripts/scheduler.js"></script>


    <link rel="stylesheet" href="/stylesheets/webix.min.css">

    <link rel="stylesheet" href="/stylesheets/gantt.css">
    <link rel="stylesheet" href="/stylesheets/filemanager.css">
    <link rel="stylesheet" href="/stylesheets/scheduler.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Material Design Icons -->
    <link rel="stylesheet" type="text/css" href="//cdn.materialdesignicons.com/2.7.94/css/materialdesignicons.css">

</head>

<body>
    <header id="head">
        <div class="container">
            <a href='/' class="logo">
                <% if(!user.login) {%>

                    <%} else{ %>
                        <a href='/users/<%=user.login%>' class="logo">
                            <% } %>
                                <h1>window</h1>
                        </a>
        </div>
    </header>
    <div class="main">

    </div>
    <% if(!user.login){%>
        <script src="/javascripts/bufer.js"></script>
        <% } %>